h1 {
font-size: 30px;
color: rgb(70, 171, 230);
background-color: rgb(160, 221, 231);
font-style: italic;
text-align: center;
}
h2{
    text-align: center;
    background-color: rgb(160, 221, 231);
    font-style: italic;
}
h6{
    text-align: right;
}
footer{
    text-align: center;
    background-color: rgb(160, 221, 231);
    font-style: italic;
}

.topo{
background-color: rgb(184, 240, 231);
text-align: center;
background-color:rgb(160, 229, 231);
}
.pesquisa{
    text-align: right;
}